
.product-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    margin-top:5px;
  }
  
  
  .product-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  
  .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  
  .pagination {
    margin-top: 20px;
    text-align:right;
  }
  
  
  .pagination button {
    margin-right: 5px;
  }
  .pagelength {
    text-align:right;
  }
  .Addbutton {
    text-align:right;
    margin:15px;
  }
  .Actions {
    display:flex;
  }